body {
  word-spacing: -0.15ch;
}

.no-scroll {
  overflow: hidden;
}
.block--image {
  cursor: zoom-in;
}
.block--image--zoomed {
  cursor: zoom-out;
  transform: none !important;
  z-index: 999 !important;
}
.block--image--zoomed figcaption {
  display: none;
}
figure.--zoomed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
}
figure.--zoomed img {
  opacity: 1;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  .block--image {
    cursor: auto;
  }
}
