@import "./custom.css";
@charset "utf-8";

/* ================= WEBFONTS ================= */

@font-face {
  font-family: "IA Writer Quattro";
  src: url("../fonts/iAWriterQuattroV.ttf") format("opentype");
  font-weight: 400 700;
  font-style: normal;
}
@font-face {
  font-family: "IA Writer Quattro";
  src: url("../fonts/iAWriterQuattroV-Italic.ttf") format("opentype");
  font-weight: 400 700;
  font-style: italic;
}
@font-face {
  font-family: "IA Writer Mono";
  src: url("../fonts/iAWriterMonoV.ttf") format("opentype");
  font-weight: 400 700;
  font-style: normal;
}

/* ================= ANIMATIONS ================= */

@keyframes flash {
  0% {
    border-color: red;
  }
  100% {
    border-color: var(--color-main);
  }
}

/* ================= VARIABLES ================= */

:root {
  /* Vairables padding (espacements intérieurs) */

  --padding: 1.875rem; /* 46px */
  --padding-mobile: calc(1.875rem / 2);
  --block-padding: 1.5rem; /* 24px */
  --block-padding-mobile: 0.75rem; /* 12px */
  --padding-blocks: 2.8125rem; /* 45px */

  --padding-btn: 0.75rem; /* 12px */
  --padding-btn-slim: 0.625rem; /* 10px */
  --padding-btn-mobile: 0.875rem; /* 14px */

  --padding-btn-bottom: 0.125rem; /* 2px */

  /* Variables heiht-btn (taille des boutons) */

  --height-btn: 2.375rem; /* 38px */
  --height-btn-slim: 1.75rem; /* 28px */
  --height-btn-mobile: 3rem; /* 48px */

  /* Variables colors (couleurs) */

  --color-light-blue: #80aaff;
  --color-black: #000;
  --color-white: #fff;
  --color-light-grey: #f5f5f5;

  /* Variables font-family (famille de polices) */

  --font-family-mono: "IA Writer Mono", sans-serif;
  --font-family-sans: "IA Writer Quattro", sans-serif;

  /* Variables font-weight (graisse) */

  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 650;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* Variables font-size (taille texte) */

  --font-size-1: 1.125rem; /* 18px */
  --font-size-2: 1rem; /* 16px */
  --font-size-3: 0.875rem; /* 14px */
  --font-size-4: 0.75rem; /* 12px */

  --font-size-h1: 3.75rem; /* 60px */
  --font-size-h2: 2.375rem; /* 38px */
  --font-size-h3: 1.875rem; /* 30px */
  --font-size-h4: 1.5rem; /* 24px */
  --font-size-h5: 1.25rem; /* 20px */

  --font-size-h1-mobile: 2.5rem; /* 40px */
  --font-size-h2-mobile: 2rem; /* 32px */
  --font-size-h3-mobile: 1.625rem; /* 26px */
  --font-size-h4-mobile: 1.375rem; /* 22px */
  --font-size-h5-mobile: 1.25rem; /* 20px */

  /* Variables line-height (interlignage) */

  --line-height-text: 1.5; /* text-1 27px       / text-2 24px    / text-3 21px       / text-4 18px     */
  --line-height-list: 1.375; /* text-1 24.75px    / text-2 22px    / text-3 19.25px    / text-4 16.5px   */
  --line-height-figcaption: 1.5; /* text-1 27px       / text-2 24px    / text-3 21px       / text-4 18px     */

  --line-height-h1: 1.25; /* desktop 75px      / mobile 50px       */
  --line-height-h2: 1.3; /* desktop 49.4px    / mobile 41.6px     */
  --line-height-h3: 1.35; /* desktop 40.5px    / mobile 35.1px     */
  --line-height-h4: 1.4; /* desktop 33.6px    / mobile 30.8px     */
  --line-height-h5: 1.45; /* desktop 29px      / mobile 29px       */

  /* Variables margin */

  --margin-text: 0.5rem; /* 8px  */
  --margin-list: 0.25rem; /* 4px  */

  /*
  --margin-text-1:0.5rem;           * 8px    
  --margin-text-2:0.45rem;          * 7.2px  
  --margin-text-3:0.4rem;           * 6.4px  
  --margin-text-4:0.35rem;          * 5.6px  
  */

  --margin-h1-before: 3.75rem; /* 60px */
  --margin-h2-before: 2.375rem; /* 38px */
  --margin-h3-before: 1.875rem; /* 30px */
  --margin-h4-before: 1.5rem; /* 24px */
  --margin-h5-before: 1.25rem; /* 20px */

  --margin-h1-after: 1rem; /* 16px */
  --margin-h2-after: 0.875rem; /* 14px */
  --margin-h3-after: 0.75rem; /* 12px */
  --margin-h4-after: 0.625rem; /* 10px */
  --margin-h5-after: 0.5rem; /* 8px  */

  --margin-block: 2.25rem; /* 36px */
  --margin-block-edit: 0.75rem; /* 12px */
}

html {
  font-family: var(--font-family-sans);
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  object-fit: contain;
  display: block;
}

html,
body {
  min-height: 100%;
}

body {
  padding: var(--padding);
  margin: 0 auto;
  font-size: var(--font-size-1);
  font-weight: 400;
  background-color: var(--color-light-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: var(--padding);
  z-index: 0;
  cursor: grab;
  pointer-events: all;
}

h1:not(.home h1) {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
p {
  cursor: text !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  overflow-wrap: anywhere;
}
a:not(p a) {
  font-family: var(--font-family-code);
}
.block li a {
  font-family: var(--font-family-sans) !important;
}
a:link {
  color: inherit;
}
a:not(#apparatus a) {
  color: var(--color-main);
  text-decoration: none;
}
button.active a {
  color: var(--color-white);
}
a:visited {
  color: inherit;
}

/* Hover*/

p a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
.block--markdown ul li a:hover,
.block--representative__spaces a:hover,
.representative__child a:hover {
  text-decoration: underline !important;
  text-underline-offset: 21.25%;
}

p a:hover {
  text-decoration-thickness: 1.2px !important;
}

h1 a:hover {
  text-decoration-thickness: 3.5px !important;
}
h2 a:hover {
  text-decoration-thickness: 2.5px !important;
}
h3 a:hover {
  text-decoration-thickness: 2px !important;
}
h4 a:hover {
  text-decoration-thickness: 1.5px !important;
}
h5 a:hover {
  text-decoration-thickness: 1.25px !important;
}

strong a:hover,
a strong:hover,
a:hover strong,
.block--representative__spaces a:hover {
  text-decoration-thickness: 1.2px !important;
}

.representative__child a:hover {
  text-decoration-thickness: 1.15px !important;
}

a.link-full:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
strong,
b {
  font-weight: 600; /* Semi-bold */
}
em,
i {
  font-style: italic;
}
textarea {
  position: relative;
  width: auto;
  min-width: 685px;
  height: 30rem !important;
  max-height: 75vh;
  appearance: none;
  border: none;
  outline: none;
  resize: none;
  padding: var(--block-padding);
  font-family: var(--font-family-sans) !important;
  font-size: var(--font-size-1);
  z-index: 998;
}

object,
iframe {
  width: calc(100vw - (var(--padding) * 2));
  height: 100%;
}
blockquote {
  font-weight: 200; /* Extra-light */
  padding-left: 1rem;
}
pre,
code {
  font-family: var(--font-family-code);
  white-space: pre;
  font-size: 80%;
}
small,
.small {
  /* font-size: .5625rem; /* 9px */
  font-size: 0.75rem; /* 12px */
}

/* ================= BROWSERS ================= */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-black) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
  border-radius: 0px;
  border: none;
}

/* ================= FUNCTIONNALS ================= */

/* Texts */

p {
  line-height: var(--line-height-text);
}

figcaption p {
  font-family: var(--font-family-code) !important;
  font-size: var(--font-size-2) !important;
  line-height: var(--line-height-text);
}

p,
.text-1 {
  font-size: var(--font-size-1) !important;
  font-weight: var(--font-weight-regular) !important;
}
.text-2 {
  font-size: var(--font-size-2) !important;
  font-weight: var(--font-weight-semi-bold) !important;
  font-family: var(--font-family-mono), sans-serif;
}
.text-3 {
  font-size: var(--font-size-3) !important;
}
.text-4 {
  font-size: var(--font-size-4) !important;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none !important;
}
.unvisible {
  visibility: hidden !important;
  pointer-events: none !important;
}

[disabled],
.disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}
.unselectable,
.unselectable * {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.front {
  z-index: 998 !important;
}

.fixed {
  position: fixed;
}

.flex-end {
  align-items: end;
}
.flex.col {
  flex-direction: column;
}
.flex.col.reverse {
  flex-direction: column-reverse;
}

.btn-height {
  height: var(--height-btn);
}

.align-i-base {
  align-items: baseline;
}

.absolute {
  position: absolute;
}

.z-max {
  z-index: 9999;
}

.space-x-1 > * + * {
  margin-left: 1px;
}
.rotate-180 {
  -webkit-transform-origin: center;
  -webkit-transform-origin: center;
  transform: rotate(180deg);
  transform: rotate(180deg);
}

.lock-visible {
  display: block !important;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lock-visible--flex {
  display: flex !important;
}

.grid {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='1' width='1.2' height='1.2' fill='black'/%3E%3C/svg%3E");
}

.main {
  position: relative;
}

#mobile-disclaimer {
  display: none;
}

/* ================= ICONS ================= */

i {
  width: var(--height-btn);
  height: var(--height-btn);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}
i {
  margin-right: calc(var(--block-padding) / 2);
}
i.twitter {
  background-image: url("../images/icons/twitter.svg");
  background-color: var(--color-black);
}
a i.twitter:hover {
  background-color: var(--color-main);
}
i.facebook {
  background-image: url("../images/icons/facebook.svg");
  background-color: var(--color-black);
}
a i.facebook:hover {
  background-color: var(--color-main);
}
i.mastodon {
  background-image: url("../images/icons/mastodon.svg");
  background-color: var(--color-black);
}
a i.mastodon:hover {
  background-color: var(--color-main);
}
i.instagram {
  background-image: url("../images/icons/instagram.svg");
  background-color: var(--color-black);
}
a i.instagram:hover {
  background-color: var(--color-main);
}
i.linkedin {
  background-image: url("../images/icons/linkedin.svg");
  background-color: var(--color-black);
}
a i.linkedin:hover {
  background-color: var(--color-main);
}

#app {
  overflow: hidden;
  min-width: 100% !important;
  min-height: 100% !important;
}
#app.vertical {
  width: 100% !important;
  height: auto !important;
  min-height: 100% !important;
}
#app.horizontal,
#app.horizontal .main {
  width: auto !important;
  min-width: 100% !important;
  height: 100% !important;
}
#app.full,
#app.full .main {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

#app.horizontal .main {
  display: flex;
}

.border {
  border: 2px solid var(--color-main) !important;
  padding-bottom: var(--padding-btn-bottom);
}
.border--blue {
  border-color: var(--color-main) !important;
}
.border:not(.apparatus__btn) {
  margin-top: -2px;
}
.border {
  margin-left: -2px;
}

/* Icons */
.icon {
  transform: scale(0.666);
  width: 1.5rem;
  height: 1.5rem;
}

/* ================= BUTTONS ================= */

input:not([type="file"]),
.inputWrapper,
button,
.btn,
.menu__arrow,
label,
.slide-nav__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-mono);
  background: var(--color-white);
  border: 0;
  color: var(--color-black);
  padding: 0 var(--padding-btn);
  height: var(--height-btn);
  width: max-content;
}

button,
span {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-2);
}

.btn--icon {
  padding: 0.3rem;
}
.btn--radio {
  position: relative;
  width: 2.8125rem;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:not(.flex-col) .icon + * {
  margin-left: 0.5em;
}
.btn.flex-col .icon + * {
  margin-top: 0.5em;
}
.btn--radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  outline: 0;
  color: var(--color-black);
  background: var(--color-white);
}

.btn--radio input[type="radio"]:before {
  content: "█";
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: inherit;
  font-family: var(--font-family-code);
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  padding-left: 23px;
  box-sizing: border-box;
  clip-path: circle(10.5px);
}

.btn--radio input[type="radio"]:checked:after {
  content: "";
  display: block;
  width: 0.625rem; /* 10px */
  height: 0.625rem; /* 10px */
  background: var(--color-black);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.btn--radio input[type="radio"] ~ label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: transparent;
  font-size: 0;
}

/* ================= HEADER ================= */

#header {
  height: 2.8125rem; /* 45px */
  margin-bottom: 3rem;
  z-index: 900;
  color: var(--color-black);
}

#nav > a {
  margin-right: 5px;
}

#nav > .btn {
  font-weight: bold;
  padding: 0.4rem var(--padding-btn);
  width: 10.3125rem;
}

#nav-btn {
  flex: 0;
}

#menu {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  position: fixed;
  top: calc(var(--padding) + 2.8125rem);
  left: var(--padding);
  right: var(--padding);
  margin-top: 5px;
}

.menu.top li {
  width: max-content;
  height: 100%;
  max-height: 2.8125rem;
}

.menu li > a {
  padding: 0.5rem 1rem;
}

@media (hover: hover) {
  .btn:not([disabled]):hover,
  #header a:hover {
    background: var(--color-black);
    color: var(--color-white);
  }
}
.btn[aria-expanded="true"] {
  background: var(--color-black);
  color: var(--color-white);
}
.btn:not([disabled]):active,
#header a:active {
  background: var(--color-black);
  color: var(--color-white);
}
#menu-login {
  position: absolute;
  top: 2.8125rem;
  right: 0;
  margin-top: 5px;
  margin-right: 1px;
  display: none;
}
#menu-login li {
  white-space: nowrap;
}
#login {
  padding: 0.5rem;
}
#login[aria-expanded="true"] .rotate-180 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
#login[aria-expanded="true"] + #menu-login {
  display: initial;
}

/* ================= BREADCRUMB ================= */

.breadcrumb {
  position: fixed;
  z-index: 999;
  top: calc(var(--padding) + 3.125rem);
  left: 0;
  right: 0;
  padding-right: var(--padding);
  padding-left: var(--padding);
  overflow-x: auto;
  padding-bottom: 0.875rem;
  display: none;
}
.breadcrumb ol {
  display: flex;
  width: max-content;
}
.breadcrumb ol > li:nth-child(1),
.breadcrumb ol > li:nth-child(2) {
  display: none;
}
.breadcrumb ol > li:last-child {
  margin-right: var(--padding);
}
.breadcrumb ol > li {
  margin-right: 1px;
  margin-bottom: 1px;
  line-height: var(--line-height-text);
}
.breadcrumb ol > li > a {
  display: inline-block;
  background: var(--color-white);
  padding: 0.05em 0.5em;
  min-height: 1.875rem; /* 30px */
}

/* ================= HEADINGS ================= */

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-code);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  margin-bottom: calc(var(--margin-h1-after) / 2);
}
h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  margin-bottom: calc(var(--margin-h2-after) / 2.5);
}
h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  margin-bottom: calc(var(--margin-h3-after) / 3);
}
h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  margin-bottom: calc(var(--margin-h4-after) / 3);
}
h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  margin-bottom: calc(var(--margin-h5-after) / 3);
}

* + h1 {
  margin-top: var(--margin-h1-before) !important;
}

* + h2 {
  margin-top: var(--margin-h2-before) !important;
}

* + h3 {
  margin-top: var(--margin-h3-before) !important;
}

* + h4 {
  margin-top: var(--margin-h4-before) !important;
}

* + h5 {
  margin-top: var(--margin-h5-before) !important;
}

* + h5 {
  margin-top: var(--margin-h5-before) !important;
}

h1 + * {
  margin-top: var(--margin-h1-after) !important;
}

h2 + * {
  margin-top: var(--margin-h2-after) !important;
}

h3 + * {
  margin-top: var(--margin-h3-after) !important;
}

h4 + * {
  margin-top: var(--margin-h4-after) !important;
}

h5 + * {
  margin-top: var(--margin-h5-after) !important;
}

/* ================= BLOCKS ================= */

#context-menu {
  position: absolute;
  z-index: 998;
  pointer-events: all;
  margin-top: 0 !important;
}

.context-menu__button\|.border.prevent-unselect {
  font-size: var(--font-size-4);
  height: var(--height-btn-slim);
  padding: 0 var(--padding-btn-slim);
}

.blocks {
  position: absolute;
  height: 100%;
  width: 100%;
}

#selection {
  position: absolute;
  width: 1000vw;
  height: 1000vh;
}

#selection .block {
  z-index: 990 !important;
}

.block--options {
  position: relative;
  justify-content: center;
}

.block--options > div {
  position: relative;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
}

.block--options .btn {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
}

.block {
  position: absolute;
  font-family: var(--font-family-sans);
  border: 2px solid var(--color-main);
  background-color: var(--color-white);
  overflow-wrap: break-word;
}

.block {
  height: auto !important;
}

.block .drag {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.block--selected {
  border: 2px solid var(--color-main);
  z-index: 800 !important;
}

.block--flashing {
  animation: flash 0.3s infinite;
}

/* ---------- LAYOUTS ---------- */

/* Linear */

.blocks.linear {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.blocks.linear .block {
  position: relative;
  transform: translate(0, 0) !important;
}
.blocks.linear .block--image {
  position: relative;
  transform: translate(0, 0) !important;
}
.blocks.linear textarea {
  position: relative;
  transform: translate(0, 0) !important;
}

/* ---------- END LAYOUTS ---------- */

.blocks.full .block--markdown > div > div,
.blocks.horizontal .block--markdown > div > div {
  max-height: 80vh;
  overflow-y: scroll;
}

.block--code div,
input {
  font-family: var(--font-family-code) !important;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-3);
}

textarea.block--code {
  font-family: var(--font-family-code) !important;
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-text);
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: var(--font-size-3);
}

.block--markdown,
.block--code {
  width: 16em;
  padding: var(--block-padding);
}

.block--markdown a[target]:after {
  content: " ↗︎";
  display: inline;
  font-weight: var(--font-weight-regular);
}

a[href*="twitter"]:after,
a[href*="instagram"]:after,
a[href*="facebook"]:after,
a[href*="linkedin"]:after,
a[href*="mastodon"]:after,
a[href*="hci.social"]:after,
a[href*="framapiaf.org"]:after {
  content: "" !important;
}

.block--markdown a[href*="limitesnumeriques.fr"]:after,
.block--markdown a[href*="localhost"]:after {
  content: " →" !important;
}

.block--markdown:not(textarea),
.block--markdown:not(textarea) {
  height: auto !important;
  background-color: var(--color-white) !important;
}

.block--markdown p + *,
.block--markdown * + p,
.block--markdown blockquote + *,
.block--markdown * + blockquote,
.block--markdown ul + *,
.block--markdown * + ul,
.block--markdown ol + *,
.block--markdown * + ol {
  margin-top: var(--margin-text);
}

.block--markdown ul li {
  margin-top: var(--margin-list);
}

.block--markdown,
.block--code {
  padding: var(--block-padding);
  min-width: calc(var(--padding) * 2);
}

.block--markdown:not(textarea) {
  height: auto !important; /* ? */
}

.block ul,
.block ol {
  margin-left: 1rem;
}

.block ul li {
  list-style-type: square;
  font-family: var(--font-family-sans);
  line-height: var(--line-height-list);
}

.block ol li {
  list-style-type: decimal;
  font-family: var(--font-family-sans);
  line-height: var(--line-height-list);
}

.note,
.block li a.note,
.block p a.note {
  font-family: var(--font-family-code) !important;
  font-weight: var(--font-weight-semi-bold);
}
.block .block__category {
  display: inline;
  font-weight: var(--font-weight-semi-bold);
  font-size: inherit;
}
.block .block__category::after {
  content: " |";
  white-space: pre;
  display: inline-block;
  font-weight: normal;
}

.block .block__title {
  display: inline;
  font-weight: normal;
  font-size: inherit;
}

.block--image {
  position: absolute;
  display: flex;
  height: auto !important;
  background-color: var(--color-white) !important;
}

.block--image figcaption {
  padding: var(--block-padding);
}

.block--image
  figcaption
  a[href^="http"]:not([href*="limitesnumeriques.fr"])::after {
  content: " ↗︎";
  display: inline;
  font-weight: var(--font-weight-regular);
}

.block--image figcaption a[href*="limitesnumeriques.fr"]:after {
  content: " →";
  display: inline;
  font-weight: var(--font-weight-regular);
}

.block--subpage-cover {
  height: auto !important;
}

input[type="file"] {
  font-family: var(--font-family-code);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  width: 100%;
  margin: var(--margin-block);
}

::-webkit-file-upload-button {
  display: inline-block;
  font-family: var(--font-family-code);
  cursor: pointer;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-semi-bold);
  border: 2px solid var(--color-black);
  padding: 0 var(--padding-btn);
  height: var(--height-btn);
  margin-right: calc(var(--margin-block) / 2);
}

::file-selector-button {
  display: inline-block;
  font-family: var(--font-family-code);
  cursor: pointer;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-semi-bold);
  border: 2px solid var(--color-black);
  padding: 0 var(--padding-btn);
  height: var(--height-btn);
  margin-right: calc(var(--margin-block) / 2);
}

.block--image button#cover {
  position: absolute;
  top: -50px;
  left: 0;
  transform-origin: bottom left;
  transform: scale(0.666);
}
.block iframe {
  display: block;
  margin: calc(-1 * var(--block-padding));
  width: calc(100% + var(--block-padding) * 2);
  border: 0;
}
.grid .block iframe {
  padding: var(--block-padding);
}
.block iframe + * {
  margin-top: var(--padding);
}

/* Representative */

.block--representative h3 {
  font-family: var(--font-family-code);
}

.block--representative h3 a::after {
  content: " →";
  display: inline;
  font-family: var(--font-family-code);
  font-weight: var(--font-weight-regular);
  color: var(--color-blue);
}

.block--representative__image {
  position: relative;
}

.block--representative figure {
  position: relative;
  z-index: -1;
}

.blocks.full .block--representative figure img,
.blocks.horizontal .block--representative figure img {
  object-fit: cover;
  max-height: 35vh;
}

.blocks.full .block--representative__image + .block--representative__sum,
.blocks.horizontal .block--representative__image + .block--representative__sum {
  max-height: 40vh;
  overflow-y: scroll;
}

.block--representative__image a {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 10%;
}
.block--representative__image a:hover {
  background-color: transparent;
}

.block--representative__sum {
  padding: var(--block-padding);
  background-color: var(--color-white) !important;
}

.block--representative__sum a[target]:after {
  content: " ↗︎";
  display: inline;
  font-weight: var(--font-weight-regular);
}

.block--representative__sum a[href*="limitesnumeriques.fr"]:after,
.block--representative__sum a[href*="localhost"]:after {
  content: " →" !important;
}

.block--representative__data {
  display: flex;
}
.block--representative__data > div {
  width: 100%;
}
.block--representative__data > div > * {
  margin-bottom: 0.5rem;
}

.representative__children {
  margin-left: 0 !important;
}

.representative__child {
  list-style-type: none !important;
  line-height: var(--line-height-text) !important;
}

.representative__child {
  margin-top: var(--margin-text);
}

.representative__child a {
  font-family: var(--font-family-code) !important;
  font-weight: var(--font-weight-bold);
}

.representative__child a::after {
  content: " →";
  font-family: var(--font-family-code);
  font-weight: var(--font-weight-regular);
}

/* ================= EDIT ================= */

.edit {
  outline: 1px solid var(--color-black);
}
.edit::before {
  border-image: none;
  border-color: transparent;
}

#z-index {
  top: 8rem;
  bottom: 8rem;
}
#z-index,
#colors {
  z-index: 800;
  justify-content: center;
}
#colors {
  left: var(--padding);
  right: var(--padding);
  bottom: var(--padding);
}
#header #colors {
  position: initial;
  margin-left: 5px;
}

/* ================= INDEX ================= */

#apparatus {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}
#apparatus.active {
  background-color: rgba(0, 0, 0, 0.6);
}
#apparatus input[type="radio"],
#apparatus input[type="radio"]::before {
  display: none;
}

.apparatus__section {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
}
.apparatus__btn {
  pointer-events: all;
}

.\|.text-2.border.apparatus__btn {
  margin-top: -2px;
}

.apparatus__section--mobile {
  display: none;
}

/* ================= APPARATUS MENU ================= */

ul.menu,
.menu ul,
.menu form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  position: relative;
}

.menu__arrow {
  z-index: 1;
  font-family: var(--font-family-code);
  font-size: var(--font-size-1) !important;
  font-weight: var(--font-weight-medium) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--height-btn);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pin {
  width: 1rem;
  height: 1rem;
  position: absolute;
}

.pin--bottom {
  bottom: 1rem;
  left: calc(50vw - 1rem);
}

.menu li {
  display: flex;
  align-items: flex-start;
  position: relative;
  background: var(--color-white);
}

.menu li > span {
  border: var(--border-width) solid var(--color-black);
  cursor: pointer;
  pointer-events: all;
  display: flex;
}

.menu li > ul,
.menu li > form,
.menu li > form > ul {
  display: none;
  position: absolute;
}

ul.lock-visible {
  z-index: 2;
}

.menu li:hover {
  z-index: 3;
}

.menu li:hover > span > button,
.menu li:hover > span > span {
  background: var(--color-main);
  border-color: var(--color-main) !important;
  color: var(--color-white);
}

.menu li:hover > ul,
.menu li:hover > form,
.menu li:hover > form > ul {
  display: flex;
}

.menu.bottom ul,
.menu.bottom form,
.menu.bottom li {
  flex-direction: column-reverse;
}

.menu.right ul,
.menu.right form {
  align-items: flex-end;
}

.menu.right li > ul {
  right: 100%;
}

.menu.right li > span {
  flex-direction: row-reverse;
}

.menu.left li > ul,
.menu.left li > form {
  left: 100%;
}

#slide-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* ================= INDEX ================= */

#index {
  display: flex;
}

.index__level,
.tag__level {
  height: 2.8rem;
  z-index: 0;
}

.index__level {
  display: block;
}

.index__category {
  display: flex;
}

.index__category {
  padding: 0;
}

.lock-active,
button.active,
.menu .active,
.inputWrapper.active,
.line.active .index__category.active,
::file-selector-button {
  background-color: var(--color-main) !important;
  border-color: var(--color-main) !important;
  z-index: 999;
  color: var(--color-white);
}

.line:hover > li > button,
.line:hover > li > button > a,
button:not(.off, .no-hover):hover,
label:hover,
button:not(.no-hover):hover + span,
.inputWrapper:hover,
::file-selector-button:hover,
.selected,
#markdown:hover {
  border: 2px solid var(--color-main) !important;
  background-color: var(--color-main) !important;
  color: var(--color-white) !important;
  cursor: pointer;
}
.line:hover,
.border:hover {
  position: relative;
  z-index: 998;
}

button a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: left;
}

.line {
  display: flex;
}
.line li {
  height: calc(var(--height-btn) - 2px);
}
.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

/* ================= LAYOUTS ================= */

/* Regular */

.blocks.vertical {
  padding-top: var(--padding-blocks);
  height: auto !important;
  position: relative !important;
}

.blocks.horizontal {
  height: auto !important;
  position: relative !important;
}

.vertical .block,
.horizontal .block,
.full .block {
  transform: translate(0, 0) !important;
}

.blocks.vertical .block,
.blocks.horizontal .block,
.blocks.horizontal,
.blocks.vertical .blocks.full,
.blocks.full .block {
  position: static !important;
}

/* Horizontal */

.blocks.horizontal {
  display: flex;
  align-items: center;
  height: 100%;
}

.blocks.horizontal .block,
.blocks.horizontal textarea {
  margin-right: var(--margin-block);
  height: max-content !important;
  flex-shrink: 0;
  position: relative;
  transform: translate(0, 0) !important;
}

.blocks.horizontal .absolute {
  position: relative;
}

.blocks.horizontal #md-buttons {
  transform: translate(0, 0) !important;
}

/* Vertical */

.blocks.vertical .block {
  margin-bottom: var(--margin-block);
}

.blocks.vertical textarea {
  margin-bottom: var(--margin-block-edit);
}

.blocks.vertical .absolute {
  position: relative;
}
.blocks.vertical #md-buttons {
  transform: translate(0, 0) scale(0) !important;
}

.blocks.vertical textarea {
  position: relative;
  transform: translate(0, 0) !important;
}

/* Full */

.blocks.full {
  padding-top: var(--padding-blocks);
  padding-bottom: 2.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocks.full .block {
  width: 70%;
}

.blocks.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#md-buttons {
  position: absolute;
  top: -50px;
  left: 0;
  transform-origin: bottom left;
}

#md-buttons button {
  font-size: var(--font-size-2);
  width: 2.5rem;
}

#markdown {
  color: var(--color-black) !important;
}

#edit-buttons {
  margin-top: 10px;
}

#edit-buttons--left {
  position: absolute;
  left: 0;
  bottom: -51px;
  z-index: 998;
}

/* ================================== MOBILE ================================== */

/* Mobile Disclaimer */

@media (max-width: 480px) {
  #mobile-disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: var(--padding);
    background-color: var(--color-black);
  }

  #mobile-disclaimer * {
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-sans);
  }

  #mobile-disclaimer h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    font-family: var(--font-family-code);
  }

  /* Titles */

  h1 {
    font-size: var(--font-size-h1-mobile);
  }

  h2 {
    font-size: var(--font-size-h2-mobile);
  }

  h3 {
    font-size: var(--font-size-h3-mobile);
  }

  h4 {
    font-size: var(--font-size-h4-mobile);
  }

  h5 {
    font-size: var(--font-size-h5-mobile);
  }

  /* Texts */

  p,
  .text-1 {
    font-size: var(--font-size-1) !important;
    font-weight: var(--font-weight-regular) !important;
  }

  .text-2 {
    font-size: var(--font-size-2) !important;
    font-weight: var(--font-weight-regular) !important;
  }

  .text-2 {
    font-weight: var(--font-weight-semi-bold) !important;
  }

  .text-3 {
    font-size: var(--font-size-3) !important;
  }

  .text-4 {
    font-size: var(--font-size-4) !important;
  }

  /* ================= MOBILE LAYOUT ================= */

  /* fix footer and URL bar conflict */

  html {
    /* overflow: hidden; */
    width: 100%;
    min-height: 100vh;
    height: fill-available;
    height: moz-available;
    height: -webkit-fill-available;
  }
  body {
    height: fill-available;
    height: moz-available;
    height: -webkit-fill-available;
    width: 100vw;
    /* position: fixed; */
    /* overflow-y: scroll; */
    -webkit-overflow-scrolling: touch;
  }

  #apparatus {
    height: 100% !important;
  }
  /* end fix footer and URL bar conflict */

  #app {
    padding: 0;
    width: 100% !important;
    height: auto !important;
  }

  .blocks {
    width: 100% !important;
    padding-top: 0 !important;
    height: auto !important;
    position: relative !important;
  }

  .block {
    margin: 0 !important;
    margin-bottom: var(--margin-block) !important;
    border: none;
    border-bottom: 2px solid var(--color-main);
    border-top: 2px solid var(--color-main);
    width: 100% !important;
    transform: translate(0, 0) !important;
    position: static !important;
  }

  .block:last-child {
    margin-bottom: 10rem !important;
  }

  /* ================= MOBILE BLOCK ================= */

  .block {
    max-width: 100% !important;
    margin-bottom: var(--padding);
  }

  .block:last-child {
    margin-bottom: calc(
      var(--height-btn-mobile) + var(--margin-block)
    ) !important;
  }

  .block--image {
    width: auto !important;
    outline: 2px solid var(--color-main);
    border: none;
  }

  /* ================= MOBILE APPARATUS ================= */

  .hidden--mobile {
    display: none !important;
  }
  .apparatus__section {
    display: none;
  }
  .apparatus__section--mobile {
    display: flex;
    padding: 0;
  }

  .menu > li > span > .menu__arrow {
    display: none;
  }

  .menu > li > span > button {
    width: 49.9vw;
  }

  #apparatus ul .border:first-child {
    margin-left: 0;
  }

  #apparatus__bottom--mobile {
    display: block;
  }
  #apparatus__bottom--mobile .menu.left li > ul,
  #apparatus__bottom--mobile .menu.left li > form {
    bottom: 100%;
    /* left: 1px; */
  }
  #apparatus__bottom--mobile .menu.right li > ul,
  #apparatus__bottom--mobile .menu.right li > form {
    bottom: 100%;
    right: 1px;
  }

  #apparatus__bottom__options {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #apparatus--mobile__current-section {
    pointer-events: all;
    height: var(--height-btn-mobile);
    background-color: var(--color-main);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;

    font-family: var(--font-family-mono);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-semi-bold);
  }

  #current-section__title {
    display: block !important;
    width: 75vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #apparatus__bottom--mobile * {
    font-size: var(--font-size-1) !important;
  }
  #apparatus--mobile__current-section button {
    width: var(--height-btn-mobile);
    background-color: transparent;
    color: var(--color-white);
    border: none;
  }

  #apparatus--mobile__current-section__close-image {
    width: 0.61rem;
  }

  #apparatus--mobile__current-section span {
    display: flex;
    align-items: center;
  }

  .menu li:hover > ul,
  .menu li:hover > form,
  .menu li:hover > form > ul {
    display: none;
  }

  button:not(.off, .no-hover):hover {
    border-top: 2px solid var(--color-main) !important;
    border-bottom: 2px solid var(--color-main) !important;
    border-left: 0px !important;
    border-right: 0px !important;
  }

  .menu > li > ul span {
    width: 100vw;
  }
  .menu > li > ul button {
    flex-grow: 100;
  }
  .menu > li > ul .menu__arrow {
    flex-basis: var(--height-btn-mobile);
  }

  .menu span button {
    border-left: 0px solid var(--color-black) !important;
    border-right: 0px solid var(--color-black) !important;
  }
  .menu__arrow {
    border-right: 0px solid var(--color-black) !important;
  }

  .menu__arrow.\|.text-2.border {
    font-weight: var(--font-weight-medium) !important;
  }

  .no-hover {
    font-weight: var(--font-weight-medium);
  }

  .active-section > li:not(.active-section) {
    display: none !important;
  }
  .active-section > span {
    display: none !important;
  }
  li.active-section > ul {
    display: flex !important;
  }

  /* ================= SEARCH ================= */

  #search {
    width: 100vw !important;
    height: var(--height-btn-mobile);
  }

  #apparatus li {
    max-height: none;
    height: auto;
  }

  #apparatus button,
  #apparatus .menu__arrow {
    padding: 0.656rem 0;
    display: flex;
    height: var(--height-btn-mobile);
    width: var(--height-btn-mobile);
  }

  #apparatus button a {
    margin: 0 var(--padding-btn-mobile);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #edit {
    display: none;
  }

  .index__button,
  .index__link {
    text-align: left;
    display: block;
  }

  .index__link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .index__link--full {
    width: 95vw;
  }
}

/* ================= ADRIEN ================= */

.highlight {
  border: 2px solid var(--color-main);
}

.note {
  scroll-margin-top: 50vh;
  scroll-margin-right: 40vw;
  scroll-margin-left: 40vw;
}

#app.extend-width {
  width: 2500px !important;
}
#app.extend-height {
  height: 2500px !important;
}
